@import 'tailwindcss';
@plugin "daisyui";
@font-face {
    font-family: 'Niradei';
    src: url('./assets/fonts/Niradei-Regular-1.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Niradei-Bold';
    src: url('./assets/fonts/Niradei-Bold-2.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}



@layer base {
    html {
        font-family: 'Niradei', sans-serif;
    }
}

.clip-angle {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 90% 100%, 0 100%);
}

body {
  overflow-x: hidden;
}